.navbar
  .navbar-inner
    .left
      a.back(href="address.html")
        i.chevron-left.icon
    .center.sliding 意见反馈
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages.navbar-through
  .page(data-page="about")
    .page-content
      .content-block.about
        img(src="img/about-logo.png")
      .list-block
        ul
          li
            a.item-content.item-link
              .item-inner
                .item-title 版权信息
          li
            a.item-content.item-link
              .item-inner
                .item-title APP简介