.navbar
  .navbar-inner
    .left
      a.back.link(href="index.html")
        i.chevron-left.icon
    .center.sliding 运营助手
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
    .subnavbar.calendar-red
      .row
        .col-20
          a.prev.text-center
            i.calendar-prev.icon
        .col-60.text-center
          a.title 2016-8-10 星期三
            i.dropdown.icon
        .col-20.text-right
          a.next.text-center
            i.calendar-next.icon
.pages.navbar-through.toolbar-through
  .page.with-subnavbar(data-page="before_open")
    .page-content
      .tabs.tabs-top
        .buttons-row
          a.tab-link.button.active(href="#tab-1") 前厅检查
          a.tab-link.button(href="#tab-2") 后厨检查
      .tabs
        #tab-1.tab.active
          .list-block.check-list
            ul
              li.header 餐厅外围：
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">招牌灯箱无断裂、破损，无褪色，表面清洁，灯光完好</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">宣传品展示架表面清洁，无破损，位置适当</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">垃圾桶位置摆放合理，内外清洁，无暴露垃圾，破损</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
          .list-block.check-list
            ul
              li.header 带位区：
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">顾客等位登记表备量充足，伞套备量合理，</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">菜单、桌垫纸清洁且备量充足，摆放整齐</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">大门玻璃清洁无手印，开关正常，</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">等位椅完好，无灰尘，摆放整齐</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
          .list-block.check-list
            ul
              li.header 服务区：
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">备餐柜门、抽屉开关完好</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">备餐柜中所有用具(汤碗、骨碟、餐巾纸、牙签、摸布)齐全，干净不破损，堆放整齐，无水渍</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">全场桌子正反面完好，清洁</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">全场椅面、椅角完好清洁且不摇晃，破损。</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">按照摆台标准，餐具/用具干净无水渍</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">如餐厅使用煤气炉，检查软管连接处是否漏气、锅圈里面要加水</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">如餐厅使用电磁炉，确保开关可以正常使用</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">餐厅内有绿植要外观清洁，枝叶无灰尘，盆内无垃圾</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">空调温度适当，无异常声响，出风口罩子牢固，无松动现象</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">餐厅内照明灯无损坏</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">餐厅墙面，墙角无积灰，瓷砖无破损</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">全场地板清洁，无垃圾，水渍，地砖无破损</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">玻璃清洁无手印，无裂痕，缺口</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">灭蝇灯清洁，餐厅内无蝇虫，无昆虫尸体</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">撤台车清洁，用具完好</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">音乐舒适</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
          .list-block.check-list
            ul
              li.header 收银区：
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">收银机运转正常(验钞机、打印机、屏幕显示机、POS机)</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">打印纸备量合理，收银区物品齐全，包装用品充足</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">POS系统运作正常</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">发票机开启正常，发票备量合理</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
          .list-block.check-list
            ul
              li.header 洗手间：
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">设施运转正常--供水，清香器，洗手台，烘手机，通风，照明</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">卫生纸备量充足，洗手液不低于1/2</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">洗手间无异味</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
          .list-block.check-list
            ul
              li.header 员工仪容：
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">工服整洁，平整，无异味</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">皮带、黑鞋符合公司要求</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">工牌佩戴正确</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">女员工淡妆上岗，男员工不留须，不留长发</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox", checked="checked")
                  .item-inner <div class="item-title">不留长指甲</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
        #tab-2.tab
          .list-block.check-list
            ul
              li.header 空调及排风系统：
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">空调及排风系统 运作正常</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
          .list-block.check-list
            ul
              li.header 打印机：
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">打印机运作正常，色带、针头无异常，打印纸充足</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
          .list-block.check-list
            ul
              li.header 冷藏/冷冻设备：
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">冷藏柜/冷冻柜电源照明正常，密封性能良好</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">冷藏柜的温度符合标准(1℃-5℃)</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">冷冻柜的温度符合标准(-23℃-  -12℃)</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">缓化冰箱的温度符合标准(-9℃-0℃)</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">所有物品按照先进先出，定位摆放。</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">检查所有产品的效期</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
          .list-block.check-list
            ul
              li.header 粗加工：
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">原材料保存新鲜</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">水槽下水管道无漏水等现象</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">洗菜水槽清洁，四壁无污渍，下水口密封不漏水</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">去皮刀，砧板，电子秤，菜筐等工具齐全，均可以使用</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
          .list-block.check-list
            ul
              li.header 汤炉：
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">温度达到80℃</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">加热保温系统正常，进出水装置正常</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">未使用时加盖</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
          .list-block.check-list
            ul
              li.header 配锅台：
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">锅底原材料在效期内</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">锅底工作台设台器具齐全且摆放整齐(台称、保鲜膜、葱/姜)</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">空锅摆放整齐</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">制备量符合制备量表</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
          .list-block.check-list
            ul
              li.header 水吧：
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">制冰机可以正常工作</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">水吧原材料在效期内，且储存方式正确</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">工作台器具准备齐全且摆放整齐(搅拌器，量杯，扎壶)</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">根据当日营业额备餐</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
          .list-block.check-list
            ul
              li.header 凉菜：
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">凉菜间原材料在效期之内，且储存方式正确</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">凉菜间温度在(17℃-25℃)</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              li
                label.item-content.label-checkbox
                  input(type="checkbox")
                  .item-inner <div class="item-title">凉菜间工作台器具准备齐全且摆放整齐。(调味盆，筷子，一次性手套等)</div>
                  .item-media <i class="icon icon-form-checkbox"></i>
              
      
        
