.navbar
  .navbar-inner
    .left
      a.back(href="index.html")
        i.chevron-left.icon
    .center.sliding 每日运营
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages
  .page(data-page="calendar")
    .page-content
      .content-block.no-padding.calendar-red
        .content-block-inner
          .row
            .col-20
              a.prev
                i.calendar-prev.icon
            .col-60.text-center
              a.calendar-title 2016-8-10 星期三
                i.dropdown.icon
            .col-20.text-right
              a.next
                i.calendar-next.icon
      .content-block.no-padding
        .content-block-inner(style="padding:0; margin-right:-15px; width:auto")
          #calendar-inline-container
