.navbar
  .navbar-inner
    .left
      a.link.back(href="shop.html")
        i.chevron-left.icon
    .center.sliding 支付成功
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages.toolbar-through
  .page(data-page="cart-success")
    .page-content
      .content-block.cart-success
        .content-block-inner
          img(src="img/cart-success.png")
          h1.header 支付成功
            div.sub.header 我们会尽快寄送<br/>请耐心等待
          .row
            .col-50
              a.button.button-red.button-big 查看订单详情
            .col-50
              a.button.button-big 返回商城


