.navbar
  .navbar-inner
    .left
      a.back(href="address.html")
        i.chevron-left.icon
    .center.sliding 帮助
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages.navbar-through
  .page(data-page="help")
    .page-content
      .list-block
        ul
          li
            a.item-content.item-link
              .item-inner
                .item-title 产品操作手册
          li
            a.item-content.item-link
              .item-inner
                .item-title 店长手册
          li
            a.item-content.item-link
              .item-inner
                .item-title 店面选址手册
          li
            a.item-content.item-link
              .item-inner
                .item-title 前厅运营手册
          li
            a.item-content.item-link
              .item-inner
                .item-title 营销手册
