.navbar
  .navbar-inner
    .left
      a.link.back(href="my.html")
        i.chevron-left.icon
    .center.sliding 我的订单
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
    .subnavbar
      .ui.list
        a.item.tab-link.active(href="#tab-1") 全部
        a.item.tab-link(href="#tab-2") 待付款
        a.item.tab-link(href="#tab-3") 待发货
        a.item.tab-link(href="#tab-4") 待收货
        a.item.tab-link(href="#tab-5") 待评价
        a.item.tab-link(href="#tab-6") 退款
.pages
  .page.with-subnavbar.toolbar-through(data-page="my-orders")
    .toolbar.tabbar
      .toolbar-inner
        a.link(href="index.html")
          i.menu-index.icon
          | 首页
        a.link(href="message.html")
          i.menu-message.icon
          | 消息
        a.link(href="store.html")
          i.menu-store.icon
          | 开店
        a.link(href="shop.html") 
          i.menu-cart.icon
          | 商城 
        a.link.active(href="my.html")
          i.menu-my.icon
          | 我的
    .page-content
      .tabs
        #tab-1.tab.active
          .list-block.media-list.orders
            ul
              li
                .item-content
                  .item-title 时间：2016-07-20
                  .item-after.text-red 已发货 
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
        
          .list-block.media-list.orders
            ul
              li
                .item-content
                  .item-title 时间：2016-07-20
                  .item-after.text-red 交易成功 
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
        
        #tab-2.tab
          .list-block.media-list.orders
            ul
              li
                .item-content
                  .item-title 时间：2016-07-20
                  .item-after.text-red 待付款 
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
        
        #tab-3.tab
          .list-block.media-list.orders
            ul
              li
                .item-content
                  .item-title 时间：2016-07-20
                  .item-after.label.text-red 提醒发货
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
        
        #tab-4.tab
          .list-block.media-list.orders
            ul
              li
                .item-content
                  .item-title 时间：2016-07-20
                  .item-after.text-red 已发货 
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
        
        #tab-5.tab
          .list-block.media-list.orders
            ul
              li
                .item-content
                  .item-title 时间：2016-07-20
                  .item-after.label.text-red 评价订单 
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
        
        #tab-6.tab
          .list-block.media-list.orders
            ul
              li
                .item-content
                  .item-title 时间：2016-07-20
                  .item-after.text-red 已退款 
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
              li
                .item-content
                  .item-media <img src="http://placehold.it/75x75"/>
                  .item-inner
                    .item-title-row
                      .item-title 咖喱锅底酱料
                    .item-text.description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                    .item-text.meta 
                      span.price.red &yen;17
                      span.price.del &yen;17
                      .num-tool
                        a.button.less -
                        input(type="tel", value="300", min="0")
                        a.button.more +
        

