.navbar
  .navbar-inner
    .left
      a.link.back(href="index.html")
        i.chevron-left.icon
    .center.sliding 消息
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages.toolbar-through
  .page(data-page="news")
    .toolbar.tabbar
      .toolbar-inner
        a.link(href="index.html")
          i.menu-index.icon
          | 首页
        a.link.active(href="message.html")
          i.menu-message.icon
          | 消息
        a.link(href="store.html")
          i.menu-store.icon
          | 开店
        a.link(href="shop.html")
          i.menu-cart.icon
          | 商城 
        a.link(href="my.html")
          i.menu-my.icon
          | 我的
    .page-content
      .list-block.media-list.express
        ul
          li
            a.item-link.item-content(href="news-detail.html")
              .item-media
                img(src="img/order-news.png")
              .item-inner
                .item-title-row
                  .item-title 新品发售
                  .item-after.text-sm 8月8日
                .item-text 推出新品蔬菜拼盘，含有虾滑，鱼滑 类新品，期待你的品尝!
          li
            a.item-link.item-content(href="news-detail.html")
              .item-media
                img(src="img/messages.png")
              .item-inner
                .item-title-row
                  .item-title 开店礼包
                  .item-after.text-sm 8月1日
                .item-text.text-red 推出新品蔬菜拼盘，含有虾滑，鱼滑 类新品，期待你的品尝!
    
  