.navbar
  .navbar-inner
    .left
      a.link.back(href="index.html")
        i.chevron-left.icon
    .center.sliding 新品发售
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages.toolbar-through
  .page(data-page="news-detail")
    .toolbar.tabbar
      .toolbar-inner
        a.link(href="index.html")
          i.menu-index.icon
          | 首页
        a.link.active(href="message.html")
          i.menu-message.icon
          | 消息
        a.link(href="store.html")
          i.menu-store.icon
          | 开店
        a.link(href="operating.html")
          i.menu-cart.icon
          | 商城 
        a.link(href="my.html")
          i.menu-my.icon
          | 我的
    .page-content
      article
        h3.text-center 半兽人中华名火锅品牌特供【官月】
          .sub.header
            span 2016-08-08
            a 尚雨轩
        .content-block
          p 回归帝都皇家御膳风味，将宫廷奢华气度与月饼风尚融合为尊贵礼遇。采用纯天然材料，木糖醇的选用更将美味和健康绝妙融合，口味纯正，滑糯绵蜜。品味之际，似绵绵思念在甜香中炸开，充盈着美好的相聚时间。
        hr
        h4.text-center.text-red.pointer 半兽人 【官月】
        img(src="http://placehold.it/1000x250")
        h4.text-center.text-red.divider 心愿 | 京式自来红
        p.description 回归了传统京式风味，浓郁绵蜜，香鲜可人。厚重的口感像极了帝都的尊贵雅韵。 净空月明之际，许下真切的心愿，在时间的反复里，贪婪的追逐梦想。
        h4.text-center.text-red.divider 思念 | 京式提浆
        p.description 绵绵思念在甜香中炸开，绵而不腻，细滑醇浓 ，充盈着美好的瞬间。 独特又朴实的帝都风味，像一抹温柔的牵挂，珍藏于内心。


      
      
  