.navbar
  .navbar-inner
    .left
      a.back(href="my.html")
        i.chevron-left.icon
    .center.sliding 修改密码
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages.navbar-through
  .page(data-page="password")
    .page-content
      .list-block.form
        ul
          li
            .item-content
              .item-inner
                .item-title.label 旧密码
                .item-input <input type="text" value="123456" />
          li
            .item-content
              .item-inner
                .item-title.label 新密码
                .item-input <input type="password" value="" />
          li
            .item-content
              .item-inner
                .item-title.label 确认新密码
                .item-input <input type="password" value="" />
      
      button.button.button-red.button-big.button-fill(type="submit") 保存
