.navbar
  .navbar-inner
    .left
      a.back(class="link", href="shop.html")
        i.chevron-left.icon
    .center.sliding 特价区
    .right
      a(class="link", href="cart.html")
        i.navbar-cart.icon
.pages
  .page(data-page="shop-list")
    .page-content
      a(href="#").img_ad <img src="img/banner-onsale.png" />
      .list-block.media-list.shop-list
        ul
          li
            a.item-content.item-link(href="shop-detail.html")
              .item-media <img src="img/product/prod-2.png" />
              .item-inner
                .item-title-row
                  .item-title 餐具包
                .item-text.description 1000个/包
                .item-text.meta 1/套
                  span.pull-right.text-red &yen; 0.6
          li
            a.item-content.item-link(href="shop-detail.html")
              .item-media <img src="img/product/prod-8.png" />
              .item-inner
                .item-title-row
                  .item-title 精品肥牛
                .item-text.description 25公斤/箱
                .item-text.meta 1/箱
                  span.pull-right.text-red &yen; 1450.0
          li
            a.item-content.item-link(href="shop-detail.html")
              .item-media <img src="img/product/prod-17.png" />
              .item-inner
                .item-title-row
                  .item-title 吧台椅
                .item-text.description 
                .item-text.meta 1/把
                  span.pull-right.text-red &yen; 100.0
          li
            a.item-content.item-link(href="shop-detail.html")
              .item-media <img src="img/product/prod-6.png" />
              .item-inner
                .item-title-row
                  .item-title 头巾
                .item-text.description 50cm*50cm
                .item-text.meta 1/件
                  span.pull-right.text-red &yen; 15.0
          li
            a.item-content.item-link(href="shop-detail.html")
              .item-media <img src="img/product/prod-5.png" />
              .item-inner
                .item-title-row
                  .item-title 半兽人条幅
                .item-text.description 22cm*16cm
                .item-text.meta 1/张
                  span.pull-right.text-red &yen; 3.0
          li
            a.item-content.item-link(href="shop-detail.html")
              .item-media <img src="img/product/prod-3.png" />
              .item-inner
                .item-title-row
                  .item-title 双层料理台
                .item-text.description 1800*800*800
                .item-text.meta 1/台
                  span.pull-right.text-red &yen; 700.0
          li
            a.item-content.item-link(href="shop-detail.html")
              .item-media <img src="img/product/prod-4.png" />
              .item-inner
                .item-title-row
                  .item-title 雨伞
                .item-text.description 22cm*16cm
                .item-text.meta 1/把
                  span.pull-right.text-red &yen; 30.0




