.navbar
  .navbar-inner
    .left
      a.link.back(href="shop-list.html")
        i.inverted.circular.chevron-left-w.icon
    .center.sliding 
    .right
      a.link(href="cart.html")
        i.inverted.circular.cart-w.icon
.pages.toolbar-through
  .page(data-page="shop-detail")
    .toolbar.tabbar
      .toolbar-inner
        .row.prod-buttons
          .col-33.text-center
            a.with-icon(href="message.html") <i class="menu-message icon"></i><div>消息</div>
          .col-33.text-center
            a.text-red(href="#") 加入购物车
          .col-33.text-center
            a.button.button-fill.button-red(href="#") 立即购买
    .page-content
      .swiper-container.swiper-init
        .swiper-wrapper
          .swiper-slide
            img(src="img/shop-detail.png").image
          .swiper-slide
            img(src="img/shop-detail.png").image
          .swiper-slide
            img(src="img/shop-detail.png").image
        .swiper-pagination
      .content-block.no-padding-top
        .content-block-inner
          h2.header 半兽人中华名火锅品牌特供【官月】
            .sub.header.price.text-red &yen;<em>70</em>.0 <span class="red label">中秋特供</span>
          .description 价格 <span class="del">￥78</span>
      .list-block.prod-info
        .header.with-divider 产品参数
        ul
          li.item-content
            .item-inner
              .item-title 品牌 
              .item-after 半兽人
          li.item-content
            .item-inner
              .item-title 规格
              .item-after 1/盒
          li.item-content
            .item-inner
              .item-title 包装 
              .item-after 纸盒装 
      .content-block.prod-info
        h3.header.with-divider 商品信息
        article.content-block-inner 
          p 回归了帝都皇家御膳风味，将宫廷奢华气度与月饼风尚融合为尊贵礼遇。采用纯天然材料，木糖醇的选用更将美味和健康绝妙融合，口味纯正，滑糯绵蜜。品味之际，似绵绵思念在甜香中炸开，充盈着美好的相聚时间。
          img(src="img/shop-detail.png").image
          h4.text-red.divider.text-left 心愿 | 京式自来红
          p 回归了传统京式风味，浓郁绵蜜，香鲜可人。厚重的口感像极了帝都的尊贵雅韵。 净空月明之际，许下真切的心愿，在时间的反复里，贪婪的追逐梦想。
          h4.text-red.divider.text-left 思念 | 京式提浆
          p 绵绵思念在甜香中炸开，绵而不腻，细滑醇浓 ，充盈着美好的瞬间。 独特又朴实的帝都风味，像一抹温柔的牵挂，珍藏于内心。





