.navbar
  .navbar-inner
    .left
      a.link.back(href="index.html")
        i.chevron-left.icon
    .center.sliding 店铺详情 
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages.toolbar-through
  .page(data-page="site-image-detail")
    .toolbar.tabbar.dark
      .toolbar-inner
        a.pull-left.link(href="index.html")
          i.trash-w.icon
        .center 室外侧面
        a.pull-left.link(href="my.html")
          i.share-w.icon
    .page-content
      <img src="http://placehold.it/375x667" />
      
      
  