.navbar
  .navbar-inner
    .left
      a.back.link(href="index.html")
        i.chevron-left.icon
    .center.sliding 运营助手
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages.navbar-through.toolbar-through
  .page(data-page="before_open")
    .page-content
      .content-block.storages
        .content-block-inner
          .row.header.with-divider.text-center
            .col-33 <i class="category icon"></i> 品类
            .col-33 <i class="storage icon"></i> 安全库存数
            .col-33 <i class="cubes icon"></i> 库存数
          .row.text-center.text-red
            .col-33 锅底
            .col-33 200
            .col-33 100
          .row.text-center
            .col-33 牛肉
            .col-33 200
            .col-33 200
          .row.text-center
            .col-33 鸡肉
            .col-33 200
            .col-33 200
          .row.text-center
            .col-33 虾
            .col-33 200
            .col-33 200
          .row.text-center
            .col-33 鱼片
            .col-33 200
            .col-33 200
          .row.text-center
            .col-33 菇类
            .col-33 200
            .col-33 200
          .row.text-center
            .col-33 滑类
            .col-33 200
            .col-33 200
          .row.text-center
            .col-33 丸类
            .col-33 200
            .col-33 200
        button.button.button-red.button-big.button-fill(type="submit") 保存
      
        
