.navbar
  .navbar-inner
    .left
      a.link.back(href="index.html")
        i.chevron-left.icon
    .center.sliding 开店助手
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages.toolbar-through
  .page(data-page="store")
    .toolbar.tabbar
      .toolbar-inner
        a.link(href="index.html")
          i.menu-index.icon
          | 首页
        a.link(href="message.html")
          i.menu-message.icon
          | 消息
        a.link.active(href="store.html")
          i.menu-store.icon
          | 开店
        a.link(href="operating.html")
          i.menu-cart.icon
          | 商城 
        a.link(href="my.html")
          i.menu-my.icon
          | 我的
    .page-content
      .list-block.media-list.store-menu
        ul
          li
            a.item-link.item-content(href="schedule.html")
              .item-media
                img(src="img/image-schedule.png")
              .item-inner
                .item-title 期程规划
      .list-block.media-list.store-menu
        ul
          li
            a.item-link.item-content(href="site-options.html")
              .item-media
                img(src="img/image-site-options.png")
              .item-inner
                .item-title 选址辅助
      .list-block.media-list.store-menu
        ul
          li
            a.item-link.item-content(href="buy-list.html")
              .item-media
                img(src="img/image-buy-list.png")
              .item-inner
                .item-title 必买清单
      


      
      
  