/* Button */
.theme-red .button.button-fill, 
.button.button-fill.color-red {
	background: #f85d5d;
}
.theme-red .button.button-fill:focus, 
.button.button-fill.color-red:focus {
	background: #ff3b30;
}
.theme-red .button.button-fill:active, 
.button.button-fill.color-red:active {
	background: #cc4d4d;
}
html.ios-gt-8 .navbar .center {
	font-weight: 500;
}
.navbar .navbar-inner , .toolbar, .subnavbar {
	background: #fff;
}
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }

a.img_ad {
	display: inline-block;
	line-height: 0;
}
.navbar:after {
	display: none;
}

/* Navbar */
.view[data-page="message"] .navbar {
	background: rgba(0,0,0,.5);
}
.view[data-page="message"] .navbar:after {
	display: none;
}
.view[data-page="message"] .navbar .navbar-inner {
	color: #FFF;
	background: none;
}
.navbar.inverted:after {
	display: none;
}
.view[data-page="cart-success"] .page-content {
	background: #FFF;
}
.navbar-inner.red {
	color: #FFF;
	background: #fc5c5c;
}


.toolbar.tabbar.dark,
.view[data-page="site-image-detail"] .navbar {
	color: #FFF;
	background: rgba(0,0,0,.8);
}
.view[data-page="site-image-detail"] .toolbar.tabbar.dark a {
	width: 48px;
}
.view[data-page="site-image-detail"] .toolbar.tabbar.dark a.link.pull-left {
	float: left;
}
.view[data-page="site-image-detail"] .toolbar.tabbar.dark a.link.pull-right {
	float: right;
}
.view[data-page="site-image-detail"] .toolbar.tabbar.dark .center {
	width: 100%;
	text-align: center;
}
.view[data-page="cart"] .page-content {
	padding-bottom: 0;
}
.view[data-page="shop-list"] .pages .page .page-content {
	padding-bottom: 0;
}
.view[data-page="shop-detail"] .navbar:after {
	display: none;
} 
.view[data-page="shop-detail"] .navbar, 
.view[data-page="shop-detail"] .navbar .navbar-inner {
	background: transparent;
}
.view[data-page="shop-detail"] .navbar a i.inverted.circular:after {
	content: "";
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: rgba(255,255,255,.5);
}
.view[data-page="shop-detail"] .pages .page .page-content {
	padding-top: 0;
}
.page[data-page="site-image-detail"] .page-content {
	padding-top: 0;
	padding-bottom: 0;
}

h1.header, 
h2.header, 
h3.header, 
h4.header, 
h5.header, 
h6.header {
	margin-top: 10px;
	margin-bottom: 10px;
}
/* Subnavbar */
.subnavbar {
	padding: 0;
	background: #939393;
}
.subnavbar .row {
	width: 100%;
}
.subnavbar div[class*="col-"] {
	text-align: center;
    // width: 33.333333333333336% !important;
}
.subnavbar div[class*="col-"] a {
	display: block;
	height: 44px;
	line-height: 44px;
	color: #FFF;
}
.subnavbar div[class*="col-"] a.active {
	background: #787878;
}

.pages {
	background: #ececee;
}
.page[data-page="message"] .page-content {
	padding-top: 0px;
}

.swiper-slide { line-height: 0; }
.swiper-slide img {
	width: 100%;
}
.swiper-pagination-bullet {
	background: #e3e3e3;
	opacity: .75;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #FFF;
}

.login-screen.change-pw {
	background: rgba(0,0,0,.75);
}
.login-screen.change-pw .modal-layer {
	background: rgba(0,0,0,.75);
	background-drop: blur(5px);
}
.login-screen.change-pw .modal-container {
	position: absolute;
	width: 301px;
	height: 354px;
	padding: 30px;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
	background: rgba(255,255,255,.75) url(../img/bg/bg-change-pw.png) center;
	// background-size: contain;
	box-sizing: border-box;
}
.login-screen.change-pw .login-screen-title {
	font-size: 1.1em;
	border-bottom: 1px solid #FFF;
	font-weight: 700;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.login-screen.change-pw .list-block {
	margin: 0 0 20px;
}
.login-screen.change-pw .list-block ul {
	background: none;
}
.login-screen.change-pw .list-block .item-content {
	background: #f6f6f6;
	margin-bottom: 20px;
	border-radius: 3px;
}
.login-screen.change-pw .list-block button {
	width: 100%;
}

/** Content Block */
.content-block.no-padding {
	margin: 0 0;
}
.content-block.no-padding-top {
	margin-top: 0;
}

h4.header.divider {
	position: relative;
	display: block;
	margin: 0 0 5px;
	text-align: center;
	font-weight: 300;
	line-height: 2em;
	font-size: 1.2em;
}
h4.header.divider:after {
	content: "";
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto 10px;
	width: 45%;
	height: 1px;
	background: #CCC;
}
h2.header {
	margin-top: 0;
	font-weight: 500;
}
h2.header .sub.header.price {
	color: #fc5c5c;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 1px;
}
h2.header .sub.header.price em {
	font-size: 1.2em;
	font-style: normal;
}
h2.header .sub.header.price .red.label {
	color: #FFF;
	font-size: 0.7em;
	background: #fc5c5c;
	border-radius: 0;
	vertical-align: text-top;
}
.list-block.prod-info {
	margin: 10px 0;
}
.content-block.prod-info .header.with-divider,
.list-block.prod-info .header.with-divider {
	margin: 0;
	color: #000;
	font-weight: 500;
	padding: 5px 15px;
	background: #FFF;
}
.content-block.prod-info > .header.with-divider {
	margin-left: -15px;
	margin-right: -15px;
	font-size: 1.2em;
}
.content-block.prod-info h5.text-red {
	color: #f86161;
}
.content-block.prod-info article h3, 
.content-block.prod-info article h4, 
.content-block.prod-info article p {
	padding: 0;
}

.list-block.prod-info ul li.item-content {
	font-size: 0.9em;
}


.button.inline {
	width: 35%;
	margin: 0 10px;
	vertical-align: middle;
	display: inline-block;
}
.button.button-fill {
	color: #fff;
	background: #cccccc;
}
.button.button-fill.button-red {
	background: #ff6f6f;
}
.button.submit {
	width: 80%;
	margin: 30px auto 20px;
}

.modal.modal-in.store-open {
	left: 0;
	top: 0;
	margin: 0 !important;
	width: 100%;
	height: 100%;	
}
.modal.modal-in.store-open .modal-inner {
	height: 100%;
	padding: 0;
	background: transparent;
}
.modal.modal-in.store-open .modal-inner .modal-title {
	width: 100%;
	background-image: url(../img/store-main.png);
}

.modal.modal-in.store-open .modal-inner .modal-title {
	position: absolute;
	width: 100%;
	height: 350px;
	top: -25%;
	bottom: 0;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	margin: auto;
	background-image: url(../img/store-main.png);
	background-size: contain;
}
.modal.modal-in.store-open .modal-inner .modal-text {
	position: absolute;
	width: 163px;
	height: 74px;
	top: 15%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-image: url(../img/store-caption.png);
	background-size: contain;
}
.modal.modal-in.store-open .modal-inner .modal-text .days {
	position: absolute;
	font-size: 2.5em;
    top: 20px;
    margin-left: -4px;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #f20014;
	font-weight: bold;
}
.modal.modal-in.store-open .modal-inner .sign, 
.modal.modal-in.store-open .modal-inner .note {
	position: absolute;
} 
.modal.modal-in.store-open .modal-inner .note-1 {
	top: 25px;
	right: 50px;
	width: 245px;
}
.modal.modal-in.store-open .modal-inner .button.share {
	position: absolute;
	width: 100px;
	top: 42%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.modal.modal-in.store-open .modal-inner .note-2 {
	left: -90px;
	right: 0;
	margin: 0 auto 0;
	bottom: 50px;
	width: 180px;
}
.modal.modal-in.store-open .modal-inner .sign-1 {
    width: 32px;
    height: 32px;
    right: 15px;
    top: 7px;
}
.modal.modal-in.store-open .modal-inner .sign-2 {
	width: 70px;
	height: 46px;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
}
.modal.modal-in.store-open .modal-inner .sign-1 .icon {
	width: 32px;
    height: 32px;
}
.modal.modal-in.store-open + .modal-overlay {
	background: rgba(0,0,0,.8) !important;
}

@media screen and (min-width: 375px) {
	.modal.modal-in.store-open .modal-inner .modal-title {
		top: -35%;
	}
	.modal.modal-in.store-open .modal-inner .button.share {
		top: 40%;
	}
}


/* Login */
.login-screen-content {
	background: #3a2938 url(../img/bg-login.png);
	background-size: cover;
}
.login-screen-content .content-block {
	position: absolute;
	height: 450px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;	
}
.login-screen-content form {
	width: 80%;
	margin-left: auto; 
	margin-right: auto; 
}
.login-screen-content form button.button {
	width: 100%;
	margin-top: 40px;
}
.login-screen-content form .list-block .item-content {
	padding-left: 0;
}
.login-screen-content form .list-block .item-inner {
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.login-screen-content form .list-block input[type="text"], 
.login-screen-content form .list-block input[type="password"] {
	color: #FFF;
}
.login-screen-title {
	margin-bottom: 64px;
}
.login-screen-title img {
	width: 156px;
}

/* Icon */
i.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain !important;
}
i.icon.user {
	background-image: url(../img/icon/icon-user.png);
}
i.icon.lock {
	background-image: url(../img/icon/icon-lock.png);
}
i.icon.dropdown {
	width: 11px;
	height: 11px;
	background-image: url(../img/icon/icon-dropdown-w.png);
}
i.icon.calendar-prev {
	width: 24px;
	height: 24px;
	background-image: url(../img/icon/icon-calendar-prev-w.png);
}
i.icon.calendar-next {
	width: 24px;
	height: 24px;
	background-image: url(../img/icon/icon-calendar-next-w.png);
}
i.icon.lock {
	background-image: url(../img/icon/icon-lock.png);
}
i.icon.position-r {
	background-image: url(../img/icon/icon-position-r.png);
}
i.icon.chevron-left {
	width: 44px;
	height: 44px;
	background-image: url(../img/icon/icon-chevron-left.png);
}
i.icon.chevron-right-b {
	width: 18px;
	height: 18px;
	background-image: url(../img/icon/icon-chevron-right-b.png);
}
i.icon.list {
	width: 44px;
	height: 44px;
	background-image: url(../img/icon/icon-list.png);
}
i.icon.message {
	background-image: url(../img/icon/icon-message.png);
}
i.icon.clock-r {
	background-image: url(../img/icon/icon-clock-r.png);
}
i.icon.chevron-left-w {
	background-image: url(../img/icon/icon-chevron-left-w.png);
}
i.icon.list-w {
	background-image: url(../img/icon/icon-list-w.png);
}
i.icon.index {
	background-image: url(../img/icon/icon-index.png);
}
i.icon.paper-list {
	background-image: url(../img/icon/icon-paper-list.png);
}
i.icon.paper-list-edit {
	background-image: url(../img/icon/icon-paper-list-edit.png);
}
i.icon.paper-list-b {
	background-image: url(../img/icon/icon-paper-list-b.png);
}
i.icon.dashboard {
	background-image: url(../img/icon/icon-dashboard.png);
}
i.icon.help {
	background-image: url(../img/icon/icon-help.png);
}
i.icon.calendar-red {
	background-image: url(../img/icon/icon-calendar-red.png);
}
i.icon.check-green {
	background-image: url(../img/icon/icon-check-green.png);
}
i.icon.clock-w {
	background-image: url(../img/icon/icon-clock-w.png);
}
i.icon.user-w {
	background-image: url(../img/icon/icon-user-w.png);
}
i.icon.position-w {
	background-image: url(../img/icon/icon-position-w.png);
}
i.icon.position-sm {
	background-image: url(../img/icon/icon-position-sm.png);
}
i.icon.share-w {
	background-image: url(../img/icon/icon-share-w.png);
}
i.icon.cart-w {
	background-image: url(../img/icon/icon-cart-w.png);
}
i.icon.store-w {
	background-image: url(../img/icon/icon-store-w.png);
}
i.icon.trash-w {
	background-image: url(../img/icon/icon-trash-w.png);
}
i.icon.category {
	background-image: url(../img/icon/icon-category.png);
}
i.icon.storage {
	background-image: url(../img/icon/icon-storage.png);
}
i.icon.cubes {
	background-image: url(../img/icon/icon-cubes.png);
}
i.icon.cart {
	background-image: url(../img/icon/icon-cart.png);
}
i.icon.onsale-w {
	background-image: url(../img/icon/icon-onsale-w.png);
}
i.icon.food-w {
	background-image: url(../img/icon/icon-food-w.png);
}
i.icon.material-w {
	background-image: url(../img/icon/icon-material-w.png);
}
i.icon.tool-w {
	background-image: url(../img/icon/icon-tool-w.png);
}
i.icon.others-w {
	background-image: url(../img/icon/icon-others-w.png);
}
i.icon.onsale {
	background-image: url(../img/icon/icon-onsale.png);
}
i.icon.food {
	background-image: url(../img/icon/icon-food.png);
}
i.icon.meterial {
	background-image: url(../img/icon/icon-meterial.png);
}
i.icon.tool {
	background-image: url(../img/icon/icon-tool.png);
}
i.icon.others {
	background-image: url(../img/icon/icon-others.png);
}
i.icon.navbar-cart {
	width: 44px;
	height: 44px;
	background-image: url(../img/icon/icon-navbar-cart.png);
	background-position: 50% 60%;
    background-size: 28px !important;
}
/* Menu */
i.icon.menu-message {
	background-image: url(../img/icon/icon-menu-message.png);
}
i.icon.menu-my {
	background-image: url(../img/icon/icon-menu-my.png);
}
i.icon.menu-business {
	background-image: url(../img/icon/icon-menu-business.png);
}
i.icon.menu-store {
	background-image: url(../img/icon/icon-menu-store.png);
}
i.icon.menu-form {
	background-image: url(../img/icon/icon-menu-form.png);
}
i.icon.menu-cart {
	background-image: url(../img/icon/icon-menu-cart.png);
}
i.icon.menu-index {
	background-image: url(../img/icon/icon-menu-index.png);
}
/* Tab link */
a.link.active > i.icon.menu-index {
	background-image: url(../img/icon/icon-menu-index-active.png);
}
a.link.active > i.icon.menu-message {
	background-image: url(../img/icon/icon-menu-message-active.png);
}
a.link.active > i.icon.menu-my {
	background-image: url(../img/icon/icon-menu-my-active.png);
}
a.link.active > i.icon.menu-business {
	background-image: url(../img/icon/icon-menu-business-active.png);
}
a.link.active > i.icon.menu-store {
	background-image: url(../img/icon/icon-menu-store-active.png);
}
a.link.active > i.icon.menu-cart {
	background-image: url(../img/icon/icon-menu-cart-active.png);
}
a.link.active > i.icon.menu-form {
	background-image: url(../img/icon/icon-menu-form-active.png);
}

.row.shop-category a {
	color: #666;
	display: block;
	text-align: center;
}
.row.shop-category a .icon.circular {
	display: block;
	width: 50px; height: 50px;
	margin: 0px auto 10px;
	border-radius: 50%;
	background-size: 34px !important;
	background-position: center;
}
.row.shop-category a .icon.red {
	background-color: #fa5537;
}
.row.shop-category a .icon.orange {
	background-color: #ff943d;
}
.row.shop-category a .icon.yellow {
	background-color: #f7c027;
}
.row.shop-category a .icon.teal {
	background-color: #3bc2b6;
}
.row.shop-category a .icon.blue {
	background-color: #2facff;
}

/* Content block */
.content-block {
	margin: 10px 0;
}
.content-block-inner.comfirmation {
	padding-top: 10px;
	padding-bottom: 20px;
}

img {
	max-width: 100%;
}

.row.divider:before {
	content: "";
	position: absolute;
	width: 1px;
	height: 80%;
	background: #ccc;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
}
.row.promotion > div[class*="col-"] {
	padding: 5px;
}
.row.promotion .image {
	text-align: center;
	vertical-align: bottom;
	padding-top: 10px;
}
.row.promotion span.calendar + span {
	margin-left: 10px;
	color: #ccc;
}
.row.promotion span.calendar {
	display: inline-block;
	width: 63px;
	height: 63px;
	font-size: 2em;
	font-weight: bold;
	line-height: 70px;
	margin: 0 auto;
	background: url(../img/bg_calendar.png);
	background-size: contain;
}

.description {
	color: #8d8a8b;
}

/** Header */
.header.red,
.header.orange,
.header.yellow,
.header.teal,
.header.blue {
	font-size: 1.1em;
	margin-bottom: 5px;
}
.header.with-border {
	border-width: 0 0 0 3px;
	padding: 5px 15px;
	border-style: solid;
}

.header.red,
.header.with-border.red a.link {
	color: #eb4233;
}
.header.orange,
.header.with-border.orange a.link {
	color: #ff943d;
}
.header.yellow,
.header.with-border.yellow a.link {
	color: #f7c027;
}
.header.teal,
.header.with-border.teal a.link {
	color: #3bc2b6;
}
.header.blue,
.header.with-border.blue a.link {
	color: #2facff;
}
.header.with-border.red {
	border-color: #eb4233;
}
.header.with-border.orange {
	border-color: #ff943d;
}
.header.with-border.yellow {
	border-color: #f7c027;
}
.header.with-border.teal {
	border-color: #3bc2b6;
}
.header.with-border.blue {
	border-color: #2facff;
}

/* Product preview */
.row.product-preview {
	background-color: #FFF;
}
.content-block.product-row,
.content-block.product-row .content-block-inner {
	padding: 0;
	margin: 0 0 10px;
}
.content-block-inner.no-padding .row.product-preview {
	width: 100%;
	margin-left: -15px;
	margin-right: -15px;
}
.row.product-preview > .header {
	background: #FFF;
	width: 100%;
	padding: 5px 15px;
	border-bottom: 1px solid #DDD;
}
.row.product-preview .pull-right {
	float: right;
} 
.row.product-preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row.product-preview div.text-red,
.row.product-preview .header span.text-red {
	color: #fc5c5c;
}
.row.product-preview > .header {
	margin-bottom: 0;
}
.row.product-preview > .header .more.link {
	float: right;
	margin-top: 5px;
	font-size: 0.8em;
}
.row.product-preview div[class*="col-"] .header {
	margin-top: 0;
	margin-bottom: 5px;
}
.row.product-preview div[class*="col-"] div.text-red,
.row.product-preview div[class*="col-"] .header, 
.row.product-preview div[class*="col-"] .description {
	font-size: 0.9em;
}
.row.product-preview div[class*="col-"] .image {
	position: relative;
	display: block;
	height: 70px;
}
.row.product-preview table {
	border-collapse: collapse;
}
.row.product-preview table td {
    border: 1px solid #ececee;
}
.row.product-preview table td a {
	display: block;
	padding: 5px;
	box-sizing: border-box;
}
.row.product-preview table td a .image.large img, 
.row.product-preview table td a .image.large {
	height: 82px;
	text-align: center;
	margin: 0 auto;
}
.row.product-preview table td a .image {
	height: 70px;
}
.row.product-preview table td.padded a {
	padding-left: 10px;
	padding-right: 10px;
}
.row.product-preview table td a .header {
	color: #000;
	margin-top: 0;
	margin-bottom: 5px;
}
.row.product-preview table td a .description {
	color: #999;
}
.row.product-preview table td a .del {
	text-decoration: line-through;
}
.row.product-preview table td a .image.height {
	height: 100px;
}
.row.product-preview table td a .text-red + .header {
	margin-top: 5px;
	margin-bottom: 0px;
}
.row.product-preview table td a .header {
	color: #000;
	font-size: 1em;
}
.row.product-preview table td a .description {
	font-size: 0.9em;
}
.row.product-preview .with-two-item a {
	float: left;
	display: block;
	width: 50%;
}
.row.product-preview table td a .image.block {
	display: inline-block;
	width: 100%;
	height: auto;
}
.row.product-preview table td a.block {
	position: relative;
	display: inline-block;
}
.row.product-preview table td a .image.pull-left {
	float: left;
	width: 50%;
}
.row.product-preview table td a .image.pull-left + .content {
	position: absolute;
	right: 5px;
	bottom: 0px;
	width: 50%;
}
.row.product-preview table td a .image.pull-left + .content > * { 
	display: block;
}
.row.product-preview table td a .image.pull-left + .content .description {
	margin-left: 10px;
}

.row.prod-buttons div.col-33 {
	width: 33.333333333333336% !important;
	height: 50px;
	margin-left: 0;
	margin-right: 0;
}
.row.prod-buttons div[class*="col-"]:before {
	content: "";
	position: absolute;
	display: block;
	width: 1px;
	height: 100%;
	right: 0;
	top: 0;
	background: #ddd;
}
.row.prod-buttons a {
	font-size: 1em;
	line-height: 50px;
}
.row.prod-buttons a.text-red {
	color: #fc5c5c;
}
.row.prod-buttons a.button-red {
	background: #fc5c5c;
}
.row.prod-buttons a.button {
	height: 50px;
	line-height: 50px;
	border-radius: 0px;
}
.row.prod-buttons a.with-icon i.icon {
	margin: 5px auto 3px;
}
.row.prod-buttons a.with-icon i.icon + div {
	font-size: 0.8em;
	line-height: 1em;
}

.red.label {
	border-radius: 3px;
	padding: 2px 4px;
	color: #FFF;
	background: #d10e1f;
}

/* Popover */
.popover-links {
	width: 128px;
	margin-top: -10px;
	padding-top: 6px; 
	padding-bottom: 6px;
	padding-right: 12px; 
	padding-left: 12px;
	background: #49484b;
	box-sizing: border-box;
	border-radius: 5px;
}
.popover-links ul li {
	border-bottom: 1px solid #808080;
}
.popover-links ul li:last-child {
	border-bottom: 0;
}
.popover-links ul li:first-child a i {
	margin: 0;
}
.popover-links ul li a {
	position: relative;
	color: #FFF;
	display: inline-block;
	width: 100%;
	font-size: 0.9rem;
	line-height: 1.6rem;
	padding-top: 6px;
	padding-bottom: 6px;
}
.popover-links ul li a.notification:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 9px;
	height: 9px;
	background: #fc1423;
	border-radius: 50%;
}
.popover-links ul li a i.icon {
	float: left;
	margin-right: 15px;
	vertical-align: middle;
}
.popover-links .popover-angle.on-top:after {
	display: none;
}
.popover-links .popover-angle.on-top:before {
	content: "";
	position: absolute;
	right: 2px;
	display: block;
	border-top: 16px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 16px solid #49484b;
}
.popover-links ~ .modal-overlay {
	background: rgba(0,0,0,0) !important;
}


/* Tabbar */ 
.toolbar.tabbar {
	height: 50px;
}
.tabbar a.link {
	font-size: 0.6rem;
}
.tabbar i.icon {
	height: 24px;
}
.tabbar a.link.active {
	color: #ff6f6f;
}
.toolbar-through .page-content, 
.toolbar-fixed .page-content, 
.tabbar-through .page-content, 
.tabbar-fixed .page-content {
	padding-bottom: 50px;	
}

.list-block.media-list {
	margin: 10px 0;
}
.list-block .item-inner:after {
	display: none;
}
.list-block.media-list .item-link.item-content:after {
	content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    border-top: 1px dashed #c8c7cc;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.list-block.media-list li:last-child .item-link.item-content:last-child:after {
	border: 0;
}
.list-block.with-accordion {
	margin: 0;
}
.list-block.media-list .item-link.item-content .item-media label.notification {
	position: absolute;
	width: 16px;
	height: 16px;
	font-size: 0.8em;
	text-align: center;
	line-height: 16px;
	right: -8px;
	top: -7px;
	display: block;
	border-radius: 50%;
	color: #FFF;
	background: #ff0000;
}
.list-block.media-list.express {
	padding-top: 0;
}
.list-block.media-list.express .item-link.item-content .item-media {
	width: 75px;
}
.list-block.media-list.express {
	margin-top: 0;
}
.list-block.media-list .item-link.item-content .item-media {
	position: relative;
	width: 48px;
	padding: 0;
}
.list-block.media-list .item-link.item-content .item-media img {
	border-radius: 3px;
}
.list-block.media-list .item-link.item-content .item-inner .item-after.text-sm {
	font-size: 0.8em;
}
.list-block.media-list .item-link.item-content .item-inner .item-text {
	margin-top: 5px;
	height: auto;
}
.list-block.media-list .item-link.item-content .item-inner .item-text.text-green {
	color: #1fba73;
}
.list-block.media-list .item-link.item-content .item-inner .item-text.text-red {
	color: #ff6f6f;
}
.list-block.media-list .item-link.item-content .item-inner .item-text.text-sm {
	font-size: 0.8em;
}
.list-block.media-list.express-process {
	background: #FFF;
	position: relative;
	display: block;
	overflow-x: hidden;
	overflow-y: hidden;
}
.list-block.media-list.express-process:before {
	content: "";
	position: absolute;
	left: 29px;
	width: 1px;
	height: 100%;
	margin-top: 15px;
	background: #999999;
}
.list-block .item-text {
	height: auto;
}
.list-block.media-list.express-process .item-content:before {
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	display: block;
	top: 14px;
	left: 24px;
	background: #999;
	border-radius: 50%;
}
.list-block.media-list.express-process .item-content.process:before {
	background-color: #1fba73;
}
.list-block.media-list.express-process .item-content {
	font-size: 0.9em;
	padding-left: 65px;
}
.list-block.media-list.express-process .item-content:after {
	margin-left: 65px;
	display: block;
}
.list-block.media-list.express-process .item-inner {
	border-bottom: 1px solid #ccc;
}
.list-block.media-list.express-process .item-content.process .item-title,
.list-block.media-list.express-process .item-content.process .item-text {
	color: #1fba73;
}
.list-block.media-list.express-process .item-content .item-title,
.list-block.media-list.express-process .item-content .item-text {
	font-weight: 300;
	color: #aeaeae;
}
.list-block.media-list.store-menu .item-content {
	height: 55px;
}
.list-block.media-list.store-menu .item-link.item-content .item-media {
	width: 40px;
} 
.list-block.media-list.store-menu .item-link.item-content .item-inner {
    align-self: center;
}
.list-block.media-list.store-menu .item-link.item-content .item-inner .item-title {
	font-weight: 300;
}
/* Site options list */ 
.list-block.media-list.site-options {
	margin-top: 0;
}
.list-block.media-list.site-options .item-content {
	min-height: 110px;
}
.list-block.media-list.site-options .item-content .item-title-row {
	background: none;
}
.list-block.media-list.site-options .item-content .item-title-row .item-after {
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	max-height: 50px;
	right: 0;
	top: 0;
	overflow: hidden;
	text-indent: -9999px;
	background-image: url(../img/wait_check.png);
	background-position: 100% 0;
	background-size: 50px auto;
}
.list-block.media-list.site-options .item-content .item-title-row .item-after.wait-check {
	background-image: url(../img/wait_check.png);
}
.list-block.media-list.site-options .item-content .item-title-row .item-after.is-check {
	background-image: url(../img/is_check.png);
}
.list-block.media-list.site-options .item-content .item-title-row .item-after.wait-confirm {
	background-image: url(../img/wait_confirm.png);
}
.list-block.media-list.site-options .item-content .item-media {
	width: 120px;
}
.list-block.media-list.site-options .item-content .item-text.description {
	color: #000;
}
.list-block.media-list.site-options .item-content .item-text {
	font-size: 0.8em;
}
.list-block.media-list.site-options .item-content .item-text .pull-right.text-orange {
	float: right;
	font-size: 1em;
	color: #ffcc72;
}
/* Schedule list */ 
.list-block.schedule {
	margin-top: 0;
	margin-bottom: 0;
}

.list-block.schedule .item-content input[type='checkbox'],
.list-block.schedule .item-content input[type='checkbox'] + label,
.list-block.schedule ul:before, 
.list-block.schedule ul:after,
.list-block.schedule ul li:last-child:after, 
.list-block.schedule .item-content .item-status {
	display: none;
}
.list-block.schedule .item-content.with-status .item-status {
	display: block;
}
.list-block.schedule .item-content .item-status {
	position: absolute;
	width: 50px;
	height: 20px;
	left: -7px;
	font-size: 0.7em;
	text-align: center;
	line-height: 20px;
	color: #FFF;
	border-radius: 3px;
}
.list-block.schedule .item-content .item-status.early {
	background: #4ec613;
}
.list-block.schedule .item-content .item-status.delay {
	background: #fd7f1b;
}
.list-block.schedule .item-content {
	padding-left: 50px;
	padding-right: 20px;
	font-size: 0.8em;
	color: #666;
}
.list-block.schedule .item-content:after {
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;
	width: 85%;
	height: 1px;
	background: #ddd;
}
.list-block.schedule .item-content.with-checkbox input[type='checkbox'] + label {
	position: absolute;
	display: block;
	right: -5px;
	top: 0;
	bottom: 0;
	width: 20px;
	height: 20px;
	margin: auto;
	background-image: url(../img/icon/icon-uncheck.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.list-block.schedule .item-content.with-checkbox input[type='checkbox']:checked + label {
	background-image: url(../img/icon/icon-check.png);
}
.list-block.schedule .item-content .item-inner {
	padding-right: 0;
}
.list-block.schedule .item-content .item-inner.sum {
	-webkit-box-pack: inherit; 
    -ms-flex-pack: inherit;
    -webkit-justify-content: flex-end; 
    justify-content: flex-end; 
}
.list-block.schedule .item-content .item-after,
.list-block.schedule .item-content .item-after > * {
	line-height: 2em;
	vertical-align: middle;
}
.list-block.schedule .item-content span.divider {
	margin: 0 5px;
}
.list-block.schedule .item-content span.num {
	font-size: 1.2em;
}
.list-block.schedule .item-content .item-input input[type="text"] {
	text-decoration: underline;
}
.list-block.schedule .item-content .item-input input[type="text"] {
	display: inline-block;
	color: #666;
	font-size: 1em;
	width: 70px;
	text-align: center;
}
.list-block.site-address {
	margin: 0;
}
.list-block.site-address .item-content:after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0;
	background: #ddd;
}
.red.countdown {
	display: block;
	width: 50px;
	height: 50px;
	color: #FFF;
	line-height: 1em;
	background: #f85d5d;
	border-radius: 50%;
	font-size: 0.7em;
	text-align: center;
}
.red.countdown .text {
	width: 85%;
	display: block;
	margin: 0 auto 3px;
	padding: 10px 0 2px;
	border-bottom: 1px solid #FFF;
}
.red.countdown .num {
	font-size: 1.3em;
	font-weight: 600;
}
.hidden {
	display: none;
}
/* Cart */
.toolbar-inner.cart {
	padding: 0;
}
.toolbar-inner.cart .checkbox {
	padding-left: 40px;
	line-height: 50px;
	white-space: nowrap;
}
.toolbar-inner.cart .checkbox input {
	opacity: 0;
	position: absolute;
}
.toolbar-inner.cart .checkbox .label:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.toolbar-inner.cart .checkbox input:checked + .label:before {
	border-color: #fe4e5a;
	background-image: url(../img/icon/icon-check.png);
	background-position: -1px 0px;
	background-size: 21px;
}
.toolbar-inner.cart div.count {
	float: right;
	width: 100%;
	text-align: right;
	white-space: nowrap;
	line-height: 50px;
}
.toolbar-inner.cart a.button {
	float: right;
	min-width: 80px;
	height: 50px;
	line-height: 50px;
	background: #fe4e5a;
	margin-left: 10px;
	border-radius: 0;
}
.list-block.media-list.cart.confirm .item-content.header,
.list-block.media-list.cart.confirm .item-content.bg-white {
	background: #FFF;
}
.list-block.media-list.cart.confirm .item-content {
	background: #ececee;
}
.list-block.media-list.cart.confirm .item-content.bg-white .item-title {
	font-weight: 300;
}
.list-block.media-list.cart.confirm .item-content.bg-white .yen {
	color: #000;    
	align-self: flex-end;
}
.list-block.media-list.cart.confirm .item-content.bg-white .price {
	color: #000;
	font-size: 1.2em;
	margin-left: 3px;
	vertical-align: bottom;
}
.list-block.media-list.cart.confirm li {
	border-bottom: 1px solid #FFF;
}
.list-block.media-list.cart.confirm li .num-tool a.button {
	background: #FFF;
}
.list-block.media-list.cart {
	margin-top: 0px;
}
.list-block.media-list.cart li {
	border-bottom: 1px solid #ddd;
}
.list-block.media-list.cart .item-content .item-text.description {
	font-size: 0.8em;
}
.list-block.media-list.cart .item-content .item-media {
	width: 75px;
}
.list-block.media-list.cart input[type="checkbox"] + .item-media {
	width: auto;
	margin-right: 10px;
}
.list-block.media-list.cart .swipeout-content + .swipeout-actions-right .bg-red {
	font-size: 2em;
}
.list-block.media-list.cart .item-content .item-media img {
	border-radius: 5px;
}

.list-block.media-list.mail {
	margin-top: 0;
}
.list-block.media-list.mail .item-content {
	background-image: url(../img/bg-mail-bottom.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	background-size: auto 5px;
}
.list-block.media-list.mail .item-content .item-after,
.list-block.media-list.mail .item-content .item-text {
	color: #000;
}
.list-block.media-list.mail .item-content .item-text {
	margin: 10px 0;
}

/* Message */

.messages-content { 
	background: #ececee;
}
.messages .messages-date { 
	color: #FFF;
	margin: 10px auto;
	padding: 3px 5px;
	background: #c5c5c5;
	border-radius: 3px;
}
.messages .message {
	max-width: 94%;
}
.message .message-text {
	padding: 15px 16px;
	font-size: 1em;
	border-radius: 20px;
}
.messages .message-sent .message-text {
	background: #f86161;
	margin-right: 40px;
}
.messages .message-link:before {
	display: none;
}
.messages .message-link .message-text {
	background: #FFF;
	border-radius: 5px;
	padding: 10px;
} 
.messages .message-link .message-text span.link {
	font-size: 0.8em;
}
.messages .message-link .message-text .card {
	display: inline-block;
	width: 100%;
	margin: 10px 0 0;
	box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}
.messages .message-link .message-text .card .image img {
	border-radius: 5px;
}
.messages .message-link .message-text .card .image {
	float: left;
	width: 75px;
	height: 75px;
}
.messages .message-link .message-text .card .content {
	color: #999999;
	font-size: 1em;
	margin-left: 85px;
	line-height: 1.5em;
}
.messages .message-link .message-text .card .content .meta b {
	color: #000;
}
.messages .message-received .message-text {
	margin-left: 40px;
	color: #777777;
	background: #FFF;
}
.messages .message-sent {
	position: relative;
}
.messages .message-sent:before {
	content: "";
	position: absolute;
	top: 18px;
	right: 26px;
	border-right: 10px solid transparent;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 10px solid #f86161;
}
.messages .message-received:before {
	content: "";
	position: absolute;
	top: 18px;
	left: 26px;
	border-left: 10px solid transparent;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 10px solid #fff;
}
.message-avatar {
	position: absolute;
	margin-top: 0;
	top: 8px;
}
.messages .message-received .message-avatar {
	left: 0;
}
.messages .message-sent .message-avatar {
	right: 0;
}
.messages .message {
	position: relative;
	display: block;
	margin: 5px 10px;
}

/** Schedule */

.yellow-section {
	text-align: center;
	border-bottom: 1px dashed #CCC;
	background: #fbd8a0;
}
.yellow-section .countdown-calendar {
	width: 197px;
	height: 163px;
	margin: 0 auto;
	background: url(../img/bg/bg-calendar.png);
	background-size: 197px 163px;
}
.yellow-section .countdown-calendar .calendar-container {
	padding: 20px;
}
.yellow-section .countdown-calendar .calendar-container .header {
	color: #FFF;
    height: 2.6em;
    font-size: 1.2em;
    line-height: 2.4em;
	vertical-align: middle;
}
.yellow-section .countdown-calendar .calendar-container .header .icon {
	margin-right: 10px;
	vertical-align: middle;
}
.yellow-section .countdown-calendar .calendar-container .content {
	padding: 10px 0 0;
}
.yellow-section .countdown-calendar .calendar-container .content.with-note {
	padding: 0;
}
.yellow-section .countdown-calendar .calendar-container .content .date {
	color: #000;
	font-weight: bold;
	font-size: 3.5em;
	line-height: 1.1em;
	margin-right: 5px;
}
.yellow-section .countdown-calendar .calendar-container .content.with-note .date + .text-red {
	color: #f85d5d;
	text-decoration: underline;
}

/* Pick Modal */
.picker-modal {
	background: #f4f4f4;
}
.picker-modal .toolbar a {
	color: #f85d5d;
}
.picker-modal .toolbar {
	height: 55px;
	background: none;
}
.picker-center-highlight {
	height: 40px;
}
.picker-center-highlight:before, 
.picker-center-highlight:after {
	background: #d9d9d9;
}
.picker-item {
	font-size: 0.9em;
	letter-spacing: 1px;
	color: #bfbfbf;
	font-weight: 300;
}
.data-picker + .picker-items .picker-items-col.picker-items-col-absolute:first-child {
	width: 34% !important;
}
.data-picker + .picker-items .picker-items-col.picker-items-col-absolute:nth-child(2) {
	margin-left: 20px;
}
.data-picker + .picker-items .picker-items-col.picker-items-col-absolute {
	width: 32% !important;
}
.data-picker + .picker-items .picker-items-col.picker-items-col-absolute:nth-child(2):after,
.data-picker + .picker-items .picker-items-col.picker-items-col-absolute:nth-child(2):before {
	content: "/";
	color: #808080;
	position: absolute;
	top: 0; bottom: 0;
	height: 40px;
	line-height: 40px;
	margin: auto;
}
.data-picker + .picker-items .picker-items-col.picker-items-col-absolute:nth-child(2):after {
	right: 0;
}
.data-picker + .picker-items .picker-items-col.picker-items-col-absolute:nth-child(2):before {
	left: 0;
}
.data-picker + .picker-items .picker-item.picker-selected {
	color: #404040;
}

.list-block.check-list {
	margin-top: 0;
	margin-bottom: 10px;
}
.list-block.check-list li.header {
	padding: 5px 15px 5px;
	border-bottom: 1px solid #DDD;
}
.list-block.check-list li label.item-content.label-checkbox:after {
	content: "";
	display: block;
	position: absolute;
	width: 97%;
	height: 1px;
	bottom: 0;
	right: 0;
	background: #ddd;
}
.list-block.check-list li label.item-content.label-checkbox .item-inner,
.list-block.check-list li label.item-content.label-checkbox .item-media {
	vertical-align: top;
	display: block;
}
.list-block.check-list li label.item-content.label-checkbox .item-media {
	float: right;
	margin-right: 15px;
	margin-top: -7px;
}
label.label-checkbox input[type="checkbox"] ~ .item-media i.icon-form-checkbox:after, 
label.label-checkbox input[type="radio"] ~ .item-media i.icon-form-checkbox:after {
	content: ' ';
    position: absolute;
    left: 50%;
    margin-left: -6px;
    top: 50%;
    margin-top: -4px;
    width: 12px;
    height: 9px;
	background: no-repeat center;
  	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2012%209'%20xml%3Aspace%3D'preserve'%3E%3Cpolygon%20fill%3D'%23dddddd'%20points%3D'12%2C0.7%2011.3%2C0%203.9%2C7.4%200.7%2C4.2%200%2C4.9%203.9%2C8.8%203.9%2C8.8%203.9%2C8.8%20'%2F%3E%3C%2Fsvg%3E");
    -webkit-background-size: 12px 9px;
    background-size: 12px 9px;
}
label.label-checkbox input[type="checkbox"]:checked ~ .item-media i.icon-form-checkbox:after, 
label.label-checkbox input[type="radio"]:checked ~ .item-media i.icon-form-checkbox:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2012%209'%20xml%3Aspace%3D'preserve'%3E%3Cpolygon%20fill%3D'%23ffffff'%20points%3D'12%2C0.7%2011.3%2C0%203.9%2C7.4%200.7%2C4.2%200%2C4.9%203.9%2C8.8%203.9%2C8.8%203.9%2C8.8%20'%2F%3E%3C%2Fsvg%3E");
}
label.label-checkbox input[type="checkbox"]:checked ~ .item-media i.icon-form-checkbox, 
label.label-checkbox input[type="radio"]:checked ~ .item-media i.icon-form-checkbox {
	background: #ff5662;
	border: none;
}
.list-block.check-list li label.item-content.label-checkbox .item-title { 
	font-size: 0.8em;
	white-space: normal;
}

/** Article */ 
article h3,
article h4,
article p {
	padding-left: 15px;
	padding-right: 15px;
}
article p.description {
	color: #999999;
}
article hr {
	margin-left: 20px;
	margin-right: 20px;
	border-color: #ccc;
	border-width: 1px 0 0 0;
}
article h3 { margin: 10px 0; }
article h4 { 
	width: auto;
	margin: 5px auto; 
	padding-bottom: 5px;
}
article h4.pointer:after {
	content: "";
	display: block;
	margin: 5px auto 0;
	width: 8px;
	height: 8px;
	background: url(../img/caret.png);
	background-size: contain;
}
article h4.divider:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: 6px auto 0;
	height: 1px;
	width: 40%;
	border-bottom: 1px solid #ccc;
}
article h4.text-left.divider:after {
	left: 15px;
	margin: 6px 0 0;
	right: auto;
}
article .text-red {
	color: #f86161;
}
article .text-center {
	text-align: center;
}
article h3 .sub.header {
	font-size: 0.8em;
	color: #999999;
	margin-top: 10px;
	font-weight: normal;
}
article h3 .sub.header span {
	margin-right: 20px;
}


.content-block.sites-form {
	margin-top: 0;
}
.content-block.sites-form .content-block-inner {
	padding-bottom: 10px;
}
.content-block.sites-form .content-block-inner * {
	box-sizing: border-box;
}
.content-block.sites-form .row div[class*="col-"] > label {
	display: block;
	margin: 15px 0 7px;
	width: 100%;
}
.content-block.sites-form .input-radio {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 10px;
}
.content-block.sites-form .note {
	position: relative;
	display: block;
}
.content-block.sites-form .note .last {
	position: absolute;
	right: 2px; bottom: 2px;
}
.content-block.sites-form .input-radio input {
	display: none;
}
.content-block.sites-form .input-radio label {
	position: relative;
	padding-left: 30px;
}
.content-block.sites-form .input-radio label:before {
	content: "";
	position: absolute;
	width: 20px; height: 20px;
	border: 1px solid #CCC;
	left: 0;
	top: 0; bottom: 0;
	margin: auto;
}
.content-block.sites-form .input-radio input:checked + label:before {
	border-color: #ff5662;
	background-image: url(../img/radio-check.png);
	background-position: center;
	background-size: 20px;
}
.content-block.sites-form .input.with-text {
	margin-bottom: 5px;
}
.content-block.sites-form input[type="text"].inline {
	width: auto;
	margin: 0 5px;
}
.content-block.sites-form textarea.no-border {
	border: 0;
	margin-bottom: 10px;
}
.content-block.sites-form .row div[class*="col-"] > label.photo {
	position: relative;
	display: block;
	margin: 0;
	padding-bottom: 100%;
	background: #ddd;
}
.content-block.sites-form .row div[class*="col-"] > label.photo:before {
	content: "＋";
	position: absolute;
	display: block;
	color: #FFF;
    font-size: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
    height: 48px;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
}
.content-block.sites-form .row div[class*="col-"] > label.photo input[type="file"] {
	position: absolute;
	opacity: 0;
}
.content-block.sites-form .input.with-text input[type="text"].inline.input-sm {
	width: 50%;
}
.content-block.sites-form .input.with-text input[type="text"].inline {
	width: 70%;
	margin-left: 0;
}
.content-block.sites-form .input.with-text span + input[type="text"].inline {
	width: 60%;
}
.content-block.sites-form .select {
	position: relative;
	display: inline-block;
	width: 70%;
	margin-right: 5px;
}
.content-block.sites-form .select:after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	right: 5px;
	top: 0; bottom: 0;
	margin: auto;
	background-image: url(../img/select-chevron-down.png);
	background-size: contain;
}
.content-block.sites-form .select select {
	display: block;
	width: 100%;
	height: 30px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0;
}
.content-block.sites-form input[type="text"] {
	height: 30px;
}
.content-block.sites-form input[type="text"],
.content-block.sites-form textarea {
	max-width: 100%;
	width: 100%;
	border: 1px solid #e3e3e3;
	padding: 5px;
}
.content-block.sites-form textarea {
	display: block;
	width: 100%;
	height: 75px;
}
.content-block.sites-form a.button.pull-left {
	display: inline-block;
	margin-top: 10px;
	border-radius: 0;
}
form.sites-form {
    height: 100%;
    margin-bottom: -60px;
}
.sites-form + button[type="submit"].button {
	width: 80%;
	display: block;
	margin: 30px auto;
}

.content-block.image-list .content-block-inner {
	background: none;
}
.content-block.image-list .content-block-inner:after,
.content-block.image-list .content-block-inner:before {
	display: none;
}
.content-block.image-list .content-block-inner .row div[class*="col-"] {
	margin-bottom: 10px;
}
.content-block.image-list .content-block-inner div.image {
	position: relative;
	display: block;
	padding-bottom: 100%;
}
.content-block.image-list .content-block-inner div.image img {
	position: absolute;
	width: 100%;
	left: 0; top: 0;
}
.content-block.image-list .content-block-inner label.photo {
	position: relative;
	padding-bottom: 100%;
	display: block;
	background-image: url(../img/icon/icon-photo-lg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.content-block.image-list .content-block-inner label.photo input[type="file"] {
	position: absolute;
	opacity: 0;
}

.list-block.media-list.operations .item-content {
	padding-top: 10px;
	padding-bottom: 10px;
}
.list-block.media-list .item-link .item-title-row, 
.list-block li.media-item .item-link .item-title-row {
	background: none;
}
.list-block.media-list.operations .item-media {
	width: 40px;
}
/* but-list */
.list-block.buy-list li.header {
	color: #fc5c5c;
	border-left: 3px solid #fc5c5c;
	border-bottom: 1px solid #ddd;
	padding: 5px 15px;
}
.list-block.buy-list .item-content:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 1px;
	background-color: #ddd;
}
.toolbar.tabbar .toolbar-inner .total-price {
	font-size: 0.8em;
	line-height: 44px;
}
.toolbar.tabbar .toolbar-inner .total-price span.text-red {
	 font-size: 1.2em;
}
.list-block.buy-list .item-content .item-text .text-red {
	font-size: 0.8em;
	margin-bottom: 5px;
}
.toolbar.tabbar .toolbar-inner .total-price .text-red {
	color: #fe4e5a;
}
.toolbar.tabbar .toolbar-inner a.color-red {
	border-radius: 0;
}
.num-tool {
	float: right;
}
.num-tool > * {
	float: left;
	display: inline-block;
}
.num-tool input[type="tel"] {
	width: 45px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	font-size: 0.9em;
}
.num-tool a.button {
	width: 17px;
	height: 17px;
	padding: 0;
	text-align: center;
	line-height: 17px;
	color: #959595;
	background: #eeeeee;
	border: 0;
	border-radius: 0;
}
span.price.red {
	color: #f85d5d;
}
span.price.del {
	color: #999;
	margin-left: 20px;
	text-decoration: line-through;
}
/* shop-list */
.list-block.media-list.shop-list .item-link.item-content {
	border-bottom: 1px dashed #ddd;
}
.list-block.media-list.shop-list .item-link.item-content .item-media {
	padding: 0;
	width: 100px;
}
.list-block.media-list.shop-list .item-link.item-content .item-media img {
	width: auto;
	max-height: 70px;
	margin: 5px auto 0;
}
.list-block.media-list.shop-list .item-title-row {
	margin: 0px 0px 5px;
}
.list-block.media-list.shop-list .item-text.meta .text-red {
	color: #fd4242;
}
.list-block.media-list.shop-list .item-text.meta .pull-right {
	float: right;
}
.list-block.media-list.shop-list .item-text.meta,
.list-block.media-list.shop-list .item-text.description {
	display: block;
	line-height: 1.7em;
	height: 1.7em;
} 



.toolbar-inner .row {
	width: 100%;
}
.toolbar-inner .row div[class*='col-'] {
	margin-right: -8px;
	margin-left: -8px;
}

.subnavbar.calendar-red {
	background: #ff6f6f;
}
.subnavbar.calendar-blue {
	background: #2ebdff;
}
.subnavbar.calendar-blue .icon,
.subnavbar.calendar-red .icon {
	display: inline-block;
	margin: 0 3px;
}
.tabs.tabs-top .buttons-row {
	background: #aeaeae;
}
.tabs.tabs-top .buttons-row .button {
	color: #FFF;
	border: 0;
	font-size: 1.2em;
	border-radius: 0;
	height: 44px;
	line-height: 44px;
}
.tabs.tabs-top .buttons-row .button.active {
	background: #787878;
}

.content-block.storages {
	padding-left: 0;
	padding-right: 0;
	margin-top: 0;
	width: 100%;
}
.content-block.storages .row {
	line-height: 44px;
}
.content-block.storages .row.header .col-33 {
	position: relative;
}
.content-block.storages .row.header .col-33:last-child:after {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	top: 0; bottom: 0;
	margin: auto;
	width: 1px;
	height: 80%;
	background: #ddd;
}
.content-block.storages .row.header .col-33:first-child:after {
	content: "";
	position: absolute;
	display: block;
	right: 0;
	top: 0; bottom: 0;
	margin: auto;
	width: 1px;
	height: 80%;
	background: #ddd;
}
.content-block.storages .row.text-red {
	color: #ff6f6f;
}
.content-block.storages .row.text-red .col-33:last-child {
	text-decoration: underline;
}
.content-block.storages .row:nth-child(n) {
	background: #FFF;
}
.content-block.storages .row:nth-child(2n) {
	background: #f5f5f5;
}

.content-block.storages button.button {
	width: 80%;
	margin: 35px auto;
}

.popup.popup-pay {
    height: auto;
    bottom: 0;
    top: auto;
    background: #ececee;
}
.popup.popup-pay .header .pull-left {
	float: left;
}
.popup.popup-pay .header a.close-popup {
	position: absolute;
	font-size: 1.8em;
	line-height: 0.8em;
	color: #000;
	left: 15px; 
	top: 5px;
}
.popup.popup-pay .header {
	padding: 10px 15px;
	font-size: 1.2em;
}
.popup.popup-pay .list-block.pay-amount {
	margin: 0;
}
.popup.popup-pay .list-block.pay-amount .text-red {
	color: #f85d5d;
}
.popup.popup-pay .list-block .item-media.image {
	width: 33px;
}
.popup.popup-pay .list-block.media-list.pay-type .label-checkbox.item-content {
	padding-right: 15px;
}
.popup.popup-pay .list-block.media-list.pay-type .item-content {
	border-bottom: 1px solid #ddd;
}
.popup.popup-pay .button {
	border-radius: 0;
	background-color: #fe4e5a;
}

.content-block.cart-success {
	margin-top: 0;
}
.content-block.cart-success .content-block-inner:after {
	display: none;
}
.content-block.cart-success img {
	width: 96px;
	display: block;
	margin: 50px auto;
}
.content-block.cart-success h1 {
	text-align: center;
	font-weight: 300;
}
.content-block.cart-success h1 .sub.header {
	color: #969696;
	font-size: 0.7em;
	margin: 20px 0 50px;
}
.content-block.cart-success a.button.button-red {
	border-color: #f85d5d;
	color: #f85d5d;
}
.content-block.cart-success a.button {
	border-color: #666;
	color: #666;
}

