.navbar
  .navbar-inner
    .left
      a.back(href="index.html")
        i.chevron-left.icon
    .center.sliding 南京新百店
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
    .subnavbar.big
      .ui.list
        each val, index in [['schedule.html', '期程规划'], ['site-option.html','选址辅助'], ['buy-list.html','必买清单']]
          if(index==2)
            a.item.link.active(href=val[0])= val[1]
          else
            a.item.link(href=val[0])= val[1]
.pages.navbar-through.toolbar-fixed
  .page.with-subnavbar.big(data-page="buy-list")
    .toolbar.tabbar
      .toolbar-inner
        .row
          .col-50.text-right.total-price 合计：<span class='price red'>￥2114.00</span>
          .col-50
            a#btn-share.button.button-fill.button-big.color-red(href='share-selector.html') <i class='share-w icon'></i> 发送加盟商
    .page-content
      .ui.list.red
        a.item.tab-link.active(href="#tab-1") 耗材
        a.item.tab-link(href="#tab-2") 餐具
        a.item.tab-link(href="#tab-3") 设备
        a.item.tab-link(href="#tab-4") 锅底
        a.item.tab-link(href="#tab-5") 小料
        a.item.tab-link(href="#tab-6") 牛羊肉
        a.item.tab-link(href="#tab-7") 饮品
      .tabs  
        #tab-1.tab.list-block.media-list.buy-list.active
          ul
            li
              .item-content
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-inner
                  .item-title 串串盘子（串串模式)
                  .item-text 
                    .row
                      .col-50 
                        span.spec 22cm*16cm
                      .col-50
                        span.unit 1/个
                  .item-text 
                    span.price.red &yen;17
                    .num-tool
                      a.button.less -
                      input(type="tel", value="300", min="0")
                      a.button.more +
            li
              .item-content
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-inner
                  .item-title 骨碟P425-7
                  .item-text 
                    .row
                      .col-50 
                        span.spec 密氨材质带LOGO
                      .col-50
                        span.unit 150个/箱
                  .item-text 
                    span.price.red &yen;3.50
                    .num-tool
                      a.button.less -
                      input(type="tel", value="3", min="0")
                      a.button.more +
            li
              .item-content
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-inner
                  .item-title 料碗8045B
                  .item-text 
                    .row
                      .col-50 
                        span.spec 密氨材质带LOGO
                      .col-50
                        span.unit 250个/箱
                  .item-text 
                    span.price.red &yen;24
                    .num-tool
                      a.button.less -
                      input(type="tel", value="300", min="0")
                      a.button.more +
            li
              .item-content
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-inner
                  .item-title 水杯C348-2.7
                  .item-text 
                    .row
                      .col-50 
                        span.spec 密氨材质带LOGO
                      .col-50
                        span.unit 100个/箱
                  .item-text 
                    span.price.red &yen;17
                    .num-tool
                      a.button.less -
                      input(type="tel", value="300", min="0")
                      a.button.more +
            li
              .item-content
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-inner
                  .item-title 汤勺7006
                  .item-text 
                    .row
                      .col-50 
                        span.spec 密氨材质带LOGO
                      .col-50
                        span.unit 200个/箱
                  .item-text 
                    span.price.red &yen;17
                    .num-tool
                      a.button.less -
                      input(type="tel", value="300", min="0")
                      a.button.more +
        #tab-2.tab.list-block.media-list.buy-list 
          ul
            li
              .item-content
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-inner
                  .item-title 串串盘子（串串模式)
                  .item-text 
                    .row
                      .col-50 
                        span.spec 22cm*16cm
                      .col-50
                        span.unit 1/个
                  .item-text 
                    span.price.red &yen;17
                    .num-tool
                      a.button.less -
                      input(type="tel", value="300", min="0")
                      a.button.more +
            li
              .item-content
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-inner
                  .item-title 骨碟P425-7
                  .item-text 
                    .row
                      .col-50 
                        span.spec 密氨材质带LOGO
                      .col-50
                        span.unit 150个/箱
                  .item-text 
                    span.price.red &yen;3.50
                    .num-tool
                      a.button.less -
                      input(type="tel", value="3", min="0")
                      a.button.more +
            li
              .item-content
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-inner
                  .item-title 料碗8045B
                  .item-text 
                    .row
                      .col-50 
                        span.spec 密氨材质带LOGO
                      .col-50
                        span.unit 250个/箱
                  .item-text 
                    span.price.red &yen;24
                    .num-tool
                      a.button.less -
                      input(type="tel", value="300", min="0")
                      a.button.more +
        #tab-3.tab.list-block.media-list.buy-list
          ul
            li
              .item-content
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-inner
                  .item-title 骨碟P425-7
                  .item-text 
                    .row
                      .col-50 
                        span.spec 密氨材质带LOGO
                      .col-50
                        span.unit 150个/箱
                  .item-text 
                    span.price.red &yen;3.50
                    .num-tool
                      a.button.less -
                      input(type="tel", value="3", min="0")
                      a.button.more +
            li
              .item-content
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-inner
                  .item-title 料碗8045B
                  .item-text 
                    .row
                      .col-50 
                        span.spec 密氨材质带LOGO
                      .col-50
                        span.unit 250个/箱
                  .item-text 
                    span.price.red &yen;24
                    .num-tool
                      a.button.less -
                      input(type="tel", value="300", min="0")
                      a.button.more +
        #tab-4.tab.list-block.media-list.buy-list
          ul
            li
              .item-content
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-inner
                  .item-title 骨碟P425-7
                  .item-text 
                    .row
                      .col-50 
                        span.spec 密氨材质带LOGO
                      .col-50
                        span.unit 150个/箱
                  .item-text 
                    span.price.red &yen;3.50
                    .num-tool
                      a.button.less -
                      input(type="tel", value="3", min="0")
                      a.button.more +
        #tab-5.tab.list-block.media-list.buy-list
          ul
            li
              .item-content
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-inner
                  .item-title 骨碟P425-7
                  .item-text 
                    .row
                      .col-50 
                        span.spec 密氨材质带LOGO
                      .col-50
                        span.unit 150个/箱
                  .item-text 
                    span.price.red &yen;3.50
                    .num-tool
                      a.button.less -
                      input(type="tel", value="3", min="0")
                      a.button.more +
        #tab-6.tab.list-block.media-list.buy-list
          ul
            li
              .item-content
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-inner
                  .item-title 骨碟P425-7
                  .item-text 
                    .row
                      .col-50 
                        span.spec 密氨材质带LOGO
                      .col-50
                        span.unit 150个/箱
                  .item-text 
                    span.price.red &yen;3.50
                    .num-tool
                      a.button.less -
                      input(type="tel", value="3", min="0")
                      a.button.more +
        #tab-7.tab.list-block.media-list.buy-list
          ul
            li
              .item-content
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-inner
                  .item-title 骨碟P425-7
                  .item-text 
                    .row
                      .col-50 
                        span.spec 密氨材质带LOGO
                      .col-50
                        span.unit 150个/箱
                  .item-text 
                    span.price.red &yen;3.50
                    .num-tool
                      a.button.less -
                      input(type="tel", value="3", min="0")
                      a.button.more +


