.navbar
  .navbar-inner
    .left
      a.back(href="index.html")
        i.chevron-left.icon
    .center.sliding 每日运营
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages.navbar-through
  .page.toolbar-fixed(data-page="calendar")
    .toolbar.tabbar
      .toolbar-inner
        a.link(href="index.html")
          i.menu-form.icon
          | 总表
        a.link(href="store.html")
          i.menu-store.icon
          | 开店
        a.link(href="message.html")
          i.menu-message.icon
          | 消息
        a.link.active(href="operating.html")
          i.menu-business.icon
          | 运营
        a.link(href="my.html")
          i.menu-my.icon
          | 我的
    .page-content
      .content-block.no-padding.calendar-red
        .content-block-inner
          .row
            .col-20
              a.prev
                i.calendar-prev.icon
            .col-60.text-center
              a.title 2016-8-10 星期三
                i.dropdown.icon
            .col-20.text-right
              a.next
                i.calendar-next.icon
      .content-block.no-padding
        .content-block-inner(style="padding:0; margin-right:-15px; width:auto")
          #calendar-inline-container
