.navbar
  .navbar-inner
    .left
      a.back(href="express.html")
        i.chevron-left.icon
    .center.sliding 订单信息
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages.navbar-through.toolbar-through
  .page(data-page="express-detail")
    .toolbar.tabbar
      .toolbar-inner
        a.link(href="index.html")
          i.menu-form.icon
          | 总表
        a.link(href="store.html")
          i.menu-store.icon
          | 开店
        a.link.active(href="message.html")
          i.menu-message.icon
          | 消息
        a.link(href="operating.html")
          i.menu-business.icon
          | 运营
        a.link(href="my.html")
          i.menu-my.icon
          | 我的
    .page-content
      .list-block.media-list.contact-list
        ul
          li.item-content(href="express-detail.html")
            .item-media
              img(src="img/order-news.png")
            .item-inner
              .item-title <b>承运来源</b>  <span>申通快递</span>
              .item-text 运单编号： dj89392378933
              .item-text 官方电话： <a href="tel:4009-000-000">4009-000-000</a>
      
      .list-block.media-list.express-process
        li.item-content.process
          .item-inner
            .item-title-row
              .item-title <span class="city">金华市</span>快件已签收
            .item-text 2016-08-12  18：20：40
        li.item-content
          .item-inner
            .item-title-row
              .item-title <span class="city">金华市</span>金华市派件员：哈市  正在派件
            .item-text 2016-08-12  16：14：00
        li.item-content
          .item-inner
            .item-title-row
              .item-title <span class="city">金华市</span>金华市内部已发出
            .item-text 2016-08-12  13：14：00
        li.item-content
          .item-inner
            .item-title-row
              .item-title <span class="city">金华市</span> 快件已到达金华市内部
            .item-text 2016-08-12  12：54：09
        li.item-content
          .item-inner
            .item-title-row
              .item-title <span class="city">北京市</span> 北京市内部已发出
            .item-text 2016-08-10  02：54：09
        li.item-content
          .item-inner
            .item-title-row
              .item-title <span class="city">北京市</span> 申通快递已取件
            .item-text 2016-08-10  23：54：26
        li.item-content
          .item-inner
            .item-title-row
              .item-title 商家已通知快递取件 拷贝
            .item-text 2016-08-10  22：55：04




