.navbar
  .navbar-inner
    .left
      a.back(href="message.html")
        i.chevron-left.icon
    .center.sliding 订单信息
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages.navbar-through.toolbar-through
  .page(data-page="express")
    .toolbar.tabbar
      .toolbar-inner
        a.link(href="index.html")
          i.menu-form.icon
          | 总表
        a.link(href="store.html")
          i.menu-store.icon
          | 开店
        a.link.active(href="message.html")
          i.menu-message.icon
          | 消息
        a.link(href="operating.html")
          i.menu-business.icon
          | 运营
        a.link(href="my.html")
          i.menu-my.icon
          | 我的
    .page-content
      .list-block.media-list.contact-list
        ul
          li
            a.item-content(href="express-detail.html")
              .item-media
                img(src="img/order-news.png")
              .item-inner
                .item-title 物流状态   
                .item-text.text-green 运输中
                .item-text.text-sm 订单编号：dj89392378933
      .list-block.media-list.contact-list
        ul
          li
            a.item-content(href="express-detail.html")
              .item-media
                img(src="img/order-news.png")
              .item-inner
                .item-title 物流状态   
                .item-text.text-green 运输中
                .item-text.text-sm 订单编号：dj89392378933
      .list-block.media-list.contact-list
        ul
          li
            a.item-content(href="express-detail.html")
              .item-media
                img(src="img/order-news.png")
              .item-inner
                .item-title 物流状态   
                .item-text.text-green 运输中
                .item-text.text-sm 订单编号：dj89392378933





