.navbar
  .navbar-inner
    .left
      a.back(href="index.html")
        i.chevron-left.icon
    .center.sliding 首页
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages.navbar-through.toolbar-through
  .page(data-page="message")
    .toolbar.tabbar
      .toolbar-inner
        a.link(href="index.html")
          i.menu-form.icon
          | 总表
        a.link(href="store.html")
          i.menu-store.icon
          | 开店
        a.link.active(href="message.html")
          i.menu-message.icon
          | 消息
        a.link(href="operating.html")
          i.menu-business.icon
          | 运营
        a.link(href="my.html")
          i.menu-my.icon
          | 我的
    .page-content
      .list-block.media-list.contact-list
        ul
          li
            a.item-content(href="message-box.html")
              .item-media
                img(src="http://placehold.it/75x75")
              .item-inner
                .item-title-row
                  .item-title 一个小可爱
                  .item-after.text-sm 10:16
                .item-text 南京市 新街口广场的东南侧
          li
            a.item-content(href="message-box.html")
              .item-media
                img(src="http://placehold.it/75x75")
              .item-inner
                .item-title-row
                  .item-title 谈情不如逗狗
                  .item-after.text-sm 09:46
                .item-text 上海市  浦东南路2161号众诚商厦一楼
          li
            a.item-content(href="message-box.html")
              .item-media
                img(src="http://placehold.it/75x75")
              .item-inner
                .item-title-row
                  .item-title 僅茈侕已
                  .item-after.text-sm 昨天
                .item-text 天津市 和平区山西路247号(哈尔滨道口)
      
      .list-block.media-list.contact-list
        ul
          li
            a.item-content(href="express.html")
              .item-media
                img(src="img/order-news.png")
              .item-inner
                .item-title-row
                  .item-title 订单消息
                  .item-after.text-sm 昨天
                .item-text 订单已发货！您购买的开店大礼包已发...





