.navbar
  .navbar-inner
    .left
      a.back(href="index.html")
        i.chevron-left.icon
    .center.sliding 运营总表
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages.navbar-through
  .page.toolbar-fixed(data-page="operating-list")
    .page-content
      .content-block.no-padding-top
        .content-block-inner
          .row
            .col-33
              div.dropdown.divider
                select
                  option 南京新百店
            .col-33
              div.dropdown.divider
                select
                  option 2016 年
            .col-33
              div.dropdown
                select
                  option 08 月
      
      .row.header.operating-header
        .col-25.text-center 
          span.title 日期
          i.calendar-red.icon
        .col-25.text-center 
          span.title 开店检查
          span.yellow.label OPEN
        .col-25.text-center 
          span.title 闭店检查
          span.blue.label CLOSE
        .col-25.text-center 
          span.title 盘点检查
          i.check-green.icon
      .section.bg-white
        .row.divider
          .col-25 08 / 10
          .col-25.text-center 
            label.label-checkbox.item-content
              input(type="checkbox", checked="checked")
              .item-media
                i.icon.icon-form-checkbox
          .col-25.text-center 
            label.label-checkbox.item-content
              input(type="checkbox", checked="checked")
              .item-media
                i.icon.icon-form-checkbox
          .col-25.text-center 
            label.label-checkbox.item-content
              input(type="checkbox")
              .item-media
                i.icon.icon-form-checkbox
        .row.divider
          .col-25 08 / 10
          .col-25.text-center 
            label.label-checkbox.item-content
              input(type="checkbox")
              .item-media
                i.icon.icon-form-checkbox
          .col-25.text-center 
            label.label-checkbox.item-content
              input(type="checkbox", checked="checked")
              .item-media
                i.icon.icon-form-checkbox
          .col-25.text-center 
            label.label-checkbox.item-content
              input(type="checkbox", checked="checked")
              .item-media
                i.icon.icon-form-checkbox
        .row.divider
          .col-25 08 / 10
          .col-25.text-center 
            label.label-checkbox.item-content
              input(type="checkbox", checked="checked")
              .item-media
                i.icon.icon-form-checkbox
          .col-25.text-center 
            label.label-checkbox.item-content
              input(type="checkbox", checked="checked")
              .item-media
                i.icon.icon-form-checkbox
          .col-25.text-center 
            label.label-checkbox.item-content
              input(type="checkbox")
              .item-media
                i.icon.icon-form-checkbox
        .row.divider
          .col-25 08 / 10
          .col-25.text-center 
            label.label-checkbox.item-content
              input(type="checkbox", checked="checked")
              .item-media
                i.icon.icon-form-checkbox
          .col-25.text-center 
            label.label-checkbox.item-content
              input(type="checkbox")
              .item-media
                i.icon.icon-form-checkbox
          .col-25.text-center 
            label.label-checkbox.item-content
              input(type="checkbox", checked="checked")
              .item-media
                i.icon.icon-form-checkbox
        .row.divider
          .col-25 08 / 10
          .col-25.text-center 
            label.label-checkbox.item-content
              input(type="checkbox", checked="checked")
              .item-media
                i.icon.icon-form-checkbox
          .col-25.text-center 
            label.label-checkbox.item-content
              input(type="checkbox")
              .item-media
                i.icon.icon-form-checkbox
          .col-25.text-center 
            label.label-checkbox.item-content
              input(type="checkbox", checked="checked")
              .item-media
                i.icon.icon-form-checkbox
