.navbar
  .navbar-inner
    .left
      a.back(href="orders.html")
        i.chevron-left.icon
    .center.sliding 订单详情
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon
.pages.navbar-through
  .page.toolbar-fixed(data-page="order-detail")
    .page-content
      .list-block.order-detail
        ul
          li
            .item-content
              .item-inner
                .item-title 上海浦东店
                .item-after
                  .status.red 已发货
          li
            .item-content
              .item-inner
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-title 
                  .header 咖喱锅底酱料
                  .description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                  .meta 
                    span.price &yen;20
                    span.sub.price &yen;24
                .item-after x100
          li
            .item-content
              .item-inner
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-title 
                  .header 咖喱锅底酱料
                  .description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                  .meta 
                    span.price &yen;20
                    span.sub.price &yen;24
                .item-after x100
          li
            .item-content
              .item-inner
                .item-media
                  img(src="http://placehold.it/75x75")
                .item-title 
                  .header 咖喱锅底酱料
                  .description 当泰国黄咖喱酱邂逅传统牛骨老汤，浓郁鲜香中尽显异国风味
                  .meta 
                    span.price &yen;20
                    span.sub.price &yen;24
                .item-after x100
          li
            .item-content
              .item-inner.text-sm
                .item-title 共计商品:
                  span 200件  合计:
                  span 

                  ￥3050
                .item-after
                  span (含运费0.00）
      .content-block.order-detail 
        .content-block-inner 
          ul.order-detail-list
            li.item 订单编号：
              .pull-right C160701001
            li.item 创建日期：
              .pull-right 2016-01-01
            li.item 付款日期：
              .pull-right 2016-12-31
            li.item 支付方式：
              .pull-right 支付宝支付
            li.item 运费：
              .pull-right 0.00
            li.item 总数量：
              .pull-right 200
            li.item 实付金额： 
              .pull-right ￥3050


