.navbar
  .navbar-inner
    .left
      a.back(href="buy-list.html") 取消
    .center.sliding 
    .right
      a.btn-multi-select(class="link") 多选
.pages.navbar-through
  .page(data-page="share-selector")
    .page-content
      .list-block.media-list.selector
        ul
          li
            .item-content
              .item-input
                input#selector-1(type="checkbox")
                label(for="selector-1")
              .item-media
                img(src="http://placehold.it/48x48")
              .item-inner
                .item-title-row
                  .item-title 僅茈侕已
                  .item-after.text-sm 10:16
                .item-text.text-sm 天津市 和平区山西路247号(哈尔滨道口)
          li
            .item-content
              .item-input
                input#selector-2(type="checkbox")
                label(for="selector-2")
              .item-media
                img(src="http://placehold.it/48x48")
              .item-inner
                .item-title-row
                  .item-title 僅茈侕已
                  .item-after.text-sm 10:16
                .item-text.text-sm 天津市 和平区山西路247号(哈尔滨道口)


