.navbar
  .navbar-inner
    .left
      a.back(href="index.html")
        i.chevron-left.icon
    .center.sliding 开店助手
    .right
      a(data-popover=".popover-links", class="link open-popover")
        i.list.icon


.pages.navbar-through.toolbar-fixed
  .page(data-page="store")
    .toolbar.toolbar-bottom.tabbar
      .toolbar-inner
        a.link(href="index.html")
          i.menu-form.icon
          | 总表
        a.link.active(href="store.html")
          i.menu-store.icon
          | 开店
        a.link(href="message.html")
          i.menu-message.icon
          | 消息
        a.link(href="operating.html")
          i.menu-business.icon
          | 运营
        a.link(href="my.html")
          i.menu-my.icon
          | 我的
    .page-content
      .list-block.media-list
        ul 
          li
            a.item-content(href="schedule.html")
              .item-media
                img(src="http://placehold.it/75x75")
              .item-inner
                .item-title 天津和平路店
                .item-subtitle 
                 div.description 地址：通北路与东马路交口附近
                 div.description 状态：商圈评估
              .item-after
                .red.countdown 
                  span.text 倒计时
                  span.num 08
                  | 天
          li
            a.item-content(href="schedule.html")
              .item-media
                img(src="http://placehold.it/75x75")
              .item-inner
                .item-title 天津和平路店
                .item-subtitle 
                 div.description 地址：通北路与东马路交口附近
                 div.description 状态：商圈评估
              .item-after
                .red.countdown 
                  span.text 倒计时
                  span.num 08
                  | 天
          li
            a.item-content(href="schedule.html")
              .item-media
                img(src="http://placehold.it/75x75")
              .item-inner
                .item-title 天津和平路店
                .item-subtitle 
                 div.description 地址：通北路与东马路交口附近
                 div.description 状态：商圈评估
              .item-after
                .red.countdown 
                  span.text 倒计时
                  span.num 08
                  | 天
